.PageList {
  width: fit-content;
  margin: 1rem auto;

  text-align: center;
}

.PageList ul {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.PageList p > button {
  background: black;
  border-color: yellow;
  border-radius: 0.25rem;
  width: 5rem;
  margin: 1rem 0.5rem;
  padding: 0.25rem 0;

  color: yellow;
  font-size: 1rem;
}

.PageList p > button:disabled {
  background: hsl(0, 0%, 0%);
  border-color: hsl(60, 100%, 50%, 0.5);
  color: hsl(60, 100%, 50%, 0.5);
}
