.CharacterList {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  .CharacterList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
